@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --bg-primary: #ffffff;
    --bg-grey: #F2F4F8;
    --bg-accent: #007BFF;
    --text-color: #666D83;
}

*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--bg-primary);
    color: var(--text-color) !important;
}

.bg-primary{
    background-color: var(--bg-primary) !important;
    border-color: var(--bg-primary) !important;
}

.bg-grey{
    background-color: var(--bg-grey) !important;
    border-color: var(--bg-grey) !important;
}

.bg-accent{
    background-color: var(--bg-accent) !important;
    border-color: var(--bg-accent) !important;
}

.text-primary{
    color: var(--text-color) !important;
}

.text-secondary{
    color: var(--bg-grey) !important;
}

.text-accent {
    color: var(--bg-accent) !important
}

.text-white{
    color: var(--bg-grey) !important;
}

.btn.btn-primary {
    background-color: var(--bg-accent) !important;
    border-color: var(--bg-accent) !important;
    color: var(--bg-primary) !important;
}

    .btn.btn-primary:hover,
    .btn.btn-primary:focus,
    .btn.btn-primary:active{
        color: var(--bg-primary) !important;
        background-color: var(--bg-accent) !important;
        border-color: var(--bg-accent) !important;
        opacity: 0.7;
    }

.btn.btn-outline-primary{
    background-color: var(--bg-primary) !important;
    border-color: var(--bg-accent) !important;
    color: var(--bg-accent) !important;
}

.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:active{
    color: var(--bg-primary) !important;
    background-color: var(--bg-accent) !important;
    border-color: var(--bg-accent) !important;
}


section,
.section{
    padding-block: 4rem;
}

h1{
    font-size: 2.8125rem;
    line-height: 1.1;
}

h2{
    font-size: 2.3125rem;
}

h3{
    font-size: 1.8125rem;
}

h5{
    font-size: 1.5rem;
}

h6{
    font-size: 1.25rem;
}

.font-small{
    font-size: 0.875rem;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
} */

.nav-item .nav-link{
    font-size: 0.875rem;
    color: var(--text-color) !important;
}

@keyframes slideIn {
    from {
        transform: scaleX(0); /* Start with no width */
    }
    to {
        transform: scaleX(1); /* End with full width */
    }
}

.nav-item .nav-link:hover::after,
.nav-item .nav-link:active::after,
.nav-item .nav-link.active::after{
    display: block;
    padding-top: 0.5rem;
    content: '';
    width: 50%;
    border-bottom: 0.1875rem solid var(--bg-accent);
    border-radius: 1px;
    animation: slideIn 0.3s ease; /* Apply the animation */
}


section.landing-page{
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 1.5rem;
    padding-bottom: 10rem;
}

.landing-page .container{
    gap: 10rem;
}

.content{
    width: 62%;
}

section.facts{
    margin-top: -3.5rem;
}

.steps{
    width: auto;
}

.use-cases-card{
    width: 25rem;
    border: 1px solid #d9d9d9;
}

.use-cases-card .icon::before{
    font-size: 3rem;
}

.use-cases-card .icon{
    margin-top: -3rem;
}

.feature-img{
    width: 30rem;
}

.api-integration-img{
    width: 32rem;
}

.check-icon{
    width: 1.5625rem;
    height: 1.5625rem;
}

.pricing-wrapper{
    width: 31.25rem;
    margin: 0 auto;
}

.prices{
    font-size: 0.875rem;
}

.carousel-item .card,
.accordion{
    width: 37.5rem;
    margin: 0 auto;
}

.carousel-control-prev{
    left: 6.5rem;
}

.carousel-control-next{
    right: 6.5rem;
}

.footer-depth{
    background-color: #2F3349;
    width: 21.875rem;
    height: 30rem;
}

.contact-wrapper{
    margin-top: 6.8rem;
    padding-block: 4rem;
}

.contact-icon{
    font-size: 1.875rem;
}

footer{
    margin-top: 4rem;
}










/************************************************************************ Media Query **************************************************************************/
@media screen and (min-width: 1400px) {
    .landing-page .container{
        gap: 15rem;
    }

    .steps{
        width: 18.75rem !important;
    }
}

@media screen and (max-width: 1200px) {
    .carousel-control-prev{
        left: 0;
    }
    
    .carousel-control-next{
        right: 0;
    }
}

@media screen and (max-width: 991px) {
    h1{
        font-size: 2.375rem;
    }

    h2{
        font-size: 1.875rem;
    }

    h3{
        font-size: 1.5625rem;
    }

    h5{
        font-size: 1.25rem;
    }

    h6{
        font-size: 1.125rem;
    }

    .content{
        width: 100%;
    }

    .steps{
        width: 18.75rem !important;
    }

    .use-cases-card{
        width: 20rem;
    }

    .use-cases-card .icon::before{
        font-size: 2rem;
    }

    .use-cases-card .icon{
        margin-top: -2.5rem;
    }

    .feature-img{
        width: 18rem;
    }

    .api-integration-img{
        width: 25rem;
    }

    .api-benefit{
        width: 20rem;
    }

    .carousel-item .card{
        width: 32rem;
    }

    .contact-option{
        width: 11.5625rem;
    }

    .footer-depth{
        height: 39.8rem;
    }

    footer{
        margin-top: 5rem;
    }
}

@media screen and (max-width: 767px) {
    .steps,
    .use-cases-card,
    .accordion{
        width: 100% !important;
    }

    .carousel-item .card{
        width: 100%;
    }

    .carousel-control-prev{
        display: none;
    }
    
    .carousel-control-next{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    section.facts{
        width: 100%;
        justify-content: start !important;
    }
}

@media screen and (max-width: 575px) {
    section,
    .section{
        padding-block: 2.5rem;
    }

    h1{
        font-size: 1.875rem;
    }

    h2{
        font-size: 1.5625rem;
    }

    h3{
        font-size: 1.25rem;
    }

    h5{
        font-size: 1.125rem;
    }

    h5{
        font-size: 1rem;
    }

    .footer-depth{
       display: none;
    }

    .contact-wrapper{
        margin-top: 0;
        padding-block: 2.5rem;
        border-radius: 0.925rem !important;
    }

    .contact-icon{
        font-size: 1.25rem;
    }

    footer{
        margin-top: 0;
        padding-top: 0 !important;
    }
}

@media screen and (max-width: 550px) {
    .pricing-wrapper,
    .api-benefit{
        width: 100%;
    }
}
